In [46]:
# Remove '#' to reset database after selecting restore
# Drop nominations
#import sqlite3
#conn = sqlite3.connect("nominations.db")
#drop_query1 = "DROP TABLE ceremonies;"
#conn.execute(drop_query1)
#drop_query2 = "DROP TABLE nominations_two;"
#conn.execute(drop_query2)
#drop_query3 = "DROP TABLE movies;"
#conn.execute(drop_query3)
#drop_query4 = "DROP TABLE actors;"
#conn.execute(drop_query4)
#drop_query5 = "DROP TABLE movies_actors;"
#conn.execute(drop_query5)

In [34]:
import sqlite3
conn = sqlite3.connect("nominations.db")
# Return the schema and assign to schema
nom_schema = conn.execute("pragma table_info(nominations);").fetchall()
# Return the first 10 rows
nom_first_ten = conn.execute("Select * from nominations limit 10;").fetchall()

In [10]:
# Loop thru schema and print each row   
for row in nom_schema:
    print(row)
# Loop thru first_ten and print each row    
for row in nom_first_ten:
    print(row)

(0, 'id', 'integer', 0, None, 1)
(1, 'category', 'text', 0, None, 0)
(2, 'nominee', 'text', 0, None, 0)
(3, 'movie', 'text', 0, None, 0)
(4, 'character', 'text', 0, None, 0)
(5, 'won', 'text', 0, None, 0)
(6, 'ceremony_id', 'integer', 0, None, 0)
(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', '0', 1)
(2, 'Actor -- Leading Role', 'Jeff Bridges', 'True Grit', 'Rooster Cogburn', '0', 1)
(3, 'Actor -- Leading Role', 'Jesse Eisenberg', 'The Social Network', 'Mark Zuckerberg', '0', 1)
(4, 'Actor -- Leading Role', 'Colin Firth', "The King's Speech", 'King George VI', '1', 1)
(5, 'Actor -- Leading Role', 'James Franco', '127 Hours', 'Aron Ralston', '0', 1)
(6, 'Actor -- Supporting Role', 'Christian Bale', 'The Fighter', 'Dicky Eklund', '1', 1)
(7, 'Actor -- Supporting Role', 'John Hawkes', "Winter's Bone", 'Teardrop', '0', 1)
(8, 'Actor -- Supporting Role', 'Jeremy Renner', 'The Town', 'James Coughlin', '0', 1)
(9, 'Actor -- Supporting Role', 'Mark Ruffalo', 'The Kids Are All Right', 'Paul', '0', 1)
(10, 'Actor -- Supporting Role', 'Geoffrey Rush', "The King's Speech", 'Lionel Logue', '0', 1)

In [39]:
# Create the ceremonies table
create_ceremonies = "create table ceremonies (id integer primary key, year integer, host text);"
conn.execute(create_ceremonies)

In [40]:
years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal"),
            ]

# Insert data into ceremonies table
insert_query = "INSERT INTO ceremonies (Year, Host) VALUES (?,?);"
conn.executemany(insert_query, years_hosts)

In [28]:
# Return the schema and assign to schema
ceremonies_schema = conn.execute("pragma table_info(ceremonies);").fetchall()
# Return the first 10 rows
ceremonies_first_ten = conn.execute("Select * from ceremonies limit 10;").fetchall()
# Loop thru schema and print each row   
for row in ceremonies_schema:
    print(row)
# Loop thru first_ten and print each row    
for row in ceremonies_first_ten:
    print(row)

(0, 'id', 'integer', 0, None, 1)
(1, 'year', 'integer', 0, None, 0)
(2, 'host', 'text', 0, None, 0)
(1, 2010, 'Steve Martin')
(2, 2009, 'Hugh Jackman')
(3, 2008, 'Jon Stewart')
(4, 2007, 'Ellen DeGeneres')
(5, 2006, 'Jon Stewart')
(6, 2005, 'Chris Rock')
(7, 2004, 'Billy Crystal')
(8, 2003, 'Steve Martin')
(9, 2002, 'Whoopi Goldberg')
(10, 2001, 'Steve Martin')

In [41]:
# Turn on foreign key constraints
fk_on_query = "PRAGMA foreign_keys = ON;"
conn.execute(fk_on_query)

In [32]:
# Setting up one-to-many
# Create the nominations_two table
create_nom2 = '''create table nominations_two 
(id integer primary key, 
category text, 
nominee text, 
movie text, 
character text, 
won text,
ceremony_id integer,
foreign key(ceremony_id) references ceremonies(id));
'''
conn.execute(create_nom2)

In [42]:
# Placeholder query
nom2_placeholder_query= '''select ceremonies.id as ceremony_id, nominations.category as category, 
nominations.nominee as nominee, nominations.movie as movie, 
nominations.character as character, nominations.won as won
from nominations
inner join ceremonies 
on nominations.year == ceremonies.year;'''

# Run placeholder query and return results to joined_nominations
joined_nominations = conn.execute(nom2_placeholder_query).fetchall()

OperationalError: no such column: nominations.year

In [ ]:
# Create insert query
nom2_ins_query = '''insert into nominations_two (ceremony_id, category, nominee, movie, character, won) 
values (?,?,?,?,?,?);
'''
# Insert data into nominations_two
conn.executemany(nom2_ins_query, joined_nominations)

In [ ]:
# Return the first 10 rows
nom2_first_five = conn.execute("Select * from nominations_two limit 5;").fetchall()

# Loop thru first_ten and print each row    
for row in nom2_first_five:
    print(row)

In [ ]:
# Deleting And Renaming Tables
# Drop nominations
drop_query = "DROP TABLE nominations;"
conn.execute(drop_query)

In [ ]:
# Change name of table nominations_two to nominations
alter_query = '''ALTER TABLE nominations_two
RENAME TO nominations;'''
conn.execute(alter_query)

In [43]:
# Create the movies table
create_movies = '''create table movies 
(id integer primary key, 
movie text);
'''
conn.execute(create_movies)

In [44]:
# Create the actors table
create_actors = '''create table actors 
(id integer primary key, 
actor text);
'''
conn.execute(create_actors)

In [47]:
# Create the movies_actors table
create_movies_actors = '''create table movies_actors 
(id INTEGER PRIMARY KEY,
movie_id INTEGER references movies(id), 
actor_id INTEGER references actors(id));
'''
conn.execute(create_movies_actors)

In [50]:
# Add data to movies
insert_movies_query = "insert into movies (movie) select distinct movie from nominations;"
conn.execute(insert_movies_query)

In [51]:
# Add data to actors
insert_actors_query = "insert into actors (actor) select distinct nominee from nominations;"
conn.execute(insert_actors_query)

In [54]:
# Add data to movies_actors
insert_movies_actors_query = '''insert into movies_actors (movie_id, actor_id) 
select movies.id, actors.id from movies 
inner join nominations on movies.movie == nominations.movie 
inner join actors on actors.actor = nominations.nominee;'''
conn.execute(insert_movies_actors_query)

In [55]:
# Return the first 10 rows
nom2_first_five = conn.execute("Select * from nominations_two limit 5;").fetchall()

# Loop thru first_ten and print each row    
for row in nom2_first_five:
    print(row)

NameError: name 'movies_actors' is not defined